body {
    background-color: rgb(22, 22, 22);
}

.custom-placeholder::placeholder {
    color: white;
    opacity: 0.5;
}

.custom-max-width {
    max-width: 30rem;
}

.custom-min-width {
    min-width: 40rem;
}